{{#each this}}
<div class="country">
   <div class="country_hero">
      <img src="{{flag}}" alt="{{name}}" class="country_flag" width="40px"/>
      <h2 class="country_name">{{name}}</h2>
   </div>
   <div class="country_info">
      <p>Capital: {{capital}}</p>
      <p>Population: {{population}}</p>
      <ul>Languages:
      {{#each languages}}
       <li>{{name}}</li>
      {{/each}}
      </ul>
   </div>
</div>
{{/each}}